@import 'reset.css'

html
    font-size: 0.625vw

    scroll-snap-type: y mandatory
    scroll-behavior: smooth

body
    background-color: white
    font-family: 'Yrsa', serif

section
    position: relative
    margin-left: 30%
    // overflow: hidden
    min-height: 100vh
    width: 70%
    // text-shadow: 0 0 4px rgba(255,255,255, 0.25)
    // height: 100vh
    color: #222

    scroll-snap-align: start

.static
    position: fixed
    margin-left: 0
    width: 100%

.me
    position: absolute
    top: 0
    left: -25%
    width: 180%
    height: calc(100% + 12vw)
    background-image: url('../image/me-on-pc-02.svg')
    background-position: left bottom
    background-size: 77%
    background-repeat: no-repeat

.monitor
    position: absolute
    bottom: 27.2vw
    left: 26.4vw
    overflow: hidden
    box-sizing: border-box
    width: 31.7vw
    height: 24.9vw
    border: 0.1vw solid #666
    border-radius: 1em
    background: white
    transition: opacity 1s linear
    transform: perspective(78vw) rotateY(46deg)

    &.hide
        opacity: 0
        pointer-events: none

    &.top
        background-image: url(../image/top.png)
        background-size: cover

    &.developer
        padding: 1em
        padding-top: 4.5%
        padding-left: 2em
        background: black url(../image/flattend_ipa.png)
        background-position: 90% center
        background-size: 10vw
        background-repeat: no-repeat
        color: rgb(0, 255, 0)
        white-space: pre
        font-size: 0.425vw
        font-family: monospace

    &.designer
        border: none
        canvas
            width: 100% !important
            height: 100% !important

    &.nlper
        border: none
        background-image: url(../image/nlp-pc-01.png)
        background-size: cover

    &.fuzz
        background-image: url(../image/Random_static.gif)
        background-size: cover

.rect
    position: absolute
    top: 0
    left: 30%
    width: 100vw
    height: 400vh
    background-color: #ef8035
    transform: translateY(-50%) rotate(-30deg)

.upper-right
    display: flex
    flex-direction: column
    margin-left: calc(100% - 2vw * 2 - 56vw)
    padding: 2vw
    min-height: calc(100vh - 2vw * 2)
    width: 56vw
    height: calc(100% - 2vw * 2)
    text-align: right

    &.narrow
        margin-left: calc(100% - 2vw * 2 - 30vw)
        max-width: 30vw

    h1
        margin-bottom: 2rem
        font-size: 5vw
        font-family: 'Rozha One', serif
        line-height: 0.8

    p
        font-size: 1.9vw

    .spacer
        flex-basis: 2em
        flex-grow: 1

    h2
        margin: 0.5em 0
        font-size: 1.6vw

    h3
        margin: 0.5em 0
        font-size: 1.25vw

    .icons
        display: flex
        flex-direction: row
        justify-content: flex-end
        list-style: none
        font-weight: bold
        font-family: sans-serif
        direction: ltr

        a
            text-decoration: none

        .icon
            margin: 0 0.2em
            width: 2vw
            vertical-align: bottom
            font-size: 2vw

    ul
        list-style-type: circle
        direction: rtl

        li
            margin-top: 0.5em

            > *
                line-height: 1.5
                direction: ltr

        .date
            font-size: 0.5vw

        .item-ja
            font-size: 0.625vw

        .item-en
            font-size: 0.625vw

        .item-tech
            font-style: italic
            font-size: 0.625vw
            opacity: 0.7

    ol
        list-style: decimal
        text-align: justify

        em
            text-decoration: underline
            font-weight: bold

    span
        // background-color: #ef803588
        line-height: 1.3

    a
        color: currentColor

a:hover
    color: white

.fever
    .monitor.top
        background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,153,0,1) 12%, rgba(255,212,0,1) 27%, rgba(0,255,64,1) 40%, rgba(0,22,255,1) 50%, rgba(0,9,255,1) 60%, rgba(141,0,255,1) 68%, rgba(235,0,255,1) 77%, rgba(255,0,0,1) 88%)
        background-size: 200% 200%
        animation: rainbow 0.5s linear infinite

@keyframes rainbow
    0%
        background-position: 200% 0%
    100%
        background-position: 0% 0%
