section.foreword
  include ./figure.svg

  h1 この世にある#[wbr]だいたいの
    wbr
    strong コンピュータがかかわる#[wbr]かもしれない#[wbr]困りごと
    | を#[wbr]解決できます
    wbr
    small （たぶん）

  p ソフトウェアエンジニアリングとデザインと自然言語処理のひとです。ものをつくったり、考える（広義の）デザインをしたりするのが好きです。ふわっとしたコンセプトを山ごもりして一気にガッと形にする力を評価されることが多いです。スタートアップ企業で創業者としてずっとCTOを務めています。ほかにも、Webサイトや印刷物のデザインとか、エンジニアリング組織のチームビルディングのお手伝いもしています。
