@font-face {
    font-family: Hoge;
    src: url(subset-shs.otf);
}

@font-face {
    font-family: Hoge;
    src: url(subset-shs-bold.otf);
    font-weight: bold;
}

* {
    font-family: Hoge;
}

body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAjAAAAABCAYAAADASJROAAAAKElEQVRIiWPcvHlzBcMoGAWjYFAAX1/fjoF2wyjADUbLy1EwCgYPAAATagaTKIG2NgAAAABJRU5ErkJggg==);
    background-repeat: repeat-y;
    background-position: calc(100vw - 660px) 0;
}

b {
    font-weight: normal;
    background-color: #1050D0;
    color: white;
    border-radius: 12px;
    font-size: 60%;
    padding: 3px 6px;
    vertical-align: middle;
    white-space: nowrap;
    margin: 1px;
}

ol.timeline {
    list-style-type: none;
    display: table;
    border-collapse: separate;
    border-spacing: 8px 10px;
}

ol.timeline li {
    display: table-row;
}

ol.timeline li:first-of-type span.desc {
    font-weight: bold;
}

ol.timeline li:not(:first-of-type) {
    opacity: 0.8;
}

ol.timeline li div {
    display: table-cell;
}

ol.timeline li div span {
    display: block;
}

ol.timeline li span.year {
    display: table-cell;
    font-weight: bold;
}

ol.timeline li span.desc.en {
    color: #666;
    margin-top: -2px;
    margin-bottom: 2px;
}

ul li {
    list-style-type: none;
}

ul li::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: -10px;
    margin-right: 4px;
    border: 3px solid #9487c0;
}

ul.skills li span.desc {
    color: #aaa;
}

.email {
    font-family: monospace;
    white-space: pre-wrap;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
}

.email .blank {
    font-family: monospace;
    display: inline-block;
    border: 1px dotted #ccc;
    border-radius: 8px;
    min-width: 100px;
    min-height: 1em;
    cursor: pointer;
    text-align: center;
}

#email-result {
    font-style: oblique;
    position: relative;
}

header h1 {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

header p {
    color: #666;
    text-align: right;
}

header p::after {
    content: "";
    display: block;
    clear: both;
}

section {
    margin-bottom: 50px;
}

section img {
    width: 90px;
    height: 120px;
    float: left;
    margin-left: 50px;
    margin-right: 20px;
    box-shadow: 0px 0px 6px #ccc;
}

section h2::before {
    content: "";
    display: inline-block;
    width: calc(1em - 16px);
    height: calc(1em - 16px);
    border: 8px solid #67a064;
    margin-right: 8px;
    vertical-align: middle;
}

@media screen and (min-width: 1024px) {
    body {
        margin-left: 300px;
    }

    section p, section ul, section ol:not(.timeline) {
        margin-left: 50px;
        max-width: 100%;
    }
}
