header, section {
    margin: 4em;
}

header h1 {
    line-height: 1em;
    margin-bottom: 0;
    border-bottom: 1px solid #888;
}

header h1 small {
    font-size: 60%;
    display: inline-block;
}

header p.small {
    margin-top: 0;
    margin-bottom: 3em;
    color: #666;
}

section h2 {
    color: #830;
}

img {
    width: 90px;
    height: 120px;
    margin-left: 1em;
    margin-right: 20px;
    box-shadow: 0px 0px 6px #ccc;
}

.timeline {
    list-style-type: none;
    padding-left: 1em;
}

.timeline .year {
    color: #333;
    font-weight: bold;
}

.timeline li {
    margin-bottom: 1em;
}

.timeline .desc.en {
    color: #666;
    margin-bottom: 0.5em;
}

.skills .desc {
    color: #777;
}

b {
    font-weight: normal;
    background-color: #1050D0;
    color: white;
    border-radius: 12px;
    font-size: 60%;
    padding: 3px 6px;
    vertical-align: middle;
    white-space: nowrap;
    margin: 1px;
}

.email {
    font-family: monospace;
    white-space: pre-wrap;
    border: 1px solid #345;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
}

.email .blank {
    font-family: monospace;
    display: inline-block;
    border: 1px dotted #ccc;
    border-radius: 8px;
    min-width: 100px;
    min-height: 1em;
    cursor: pointer;
    text-align: center;
}

#email-result {
    font-style: oblique;
    position: relative;
    word-break: break-all;
    color: #999;
}

@media screen and (min-width:641px) {
    img {
        float: left;
    }

    .timeline {
        display: table;
        border-collapse: separate;
        border-spacing: 8px 10px;
    }

    .timeline li {
        display: table-row;
    }

    .timeline li > * {
        display: table-cell;
    }

    .timeline .year {
        width: 10em;
    }

    .timeline .desc {
        width: 100%;
        display: inline-block;
    }

    .email {
        margin-top: 0;
        margin-left: 3em;
        font-size: 130%;
    }
}

@media screen and (max-width:640px) {
    header, section {
        margin: 0;
    }

    section h2 {
        width: 100%;
        padding: 0.3em;
        padding-top: 1em;
        box-sizing: border-box;
        border-top: 2px dashed #888;
        text-align: center;
    }

    a {
        max-width: 100%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img {
        margin-left: calc(50% - 45px);
    }

    .timeline .desc {
        display: block;
    }

    #email-result {
        display: block;
        height: 5em;
    }

    .email {
        margin: 0;
        margin-bottom: 5em;
    }
}