#container
  #card
    div(title='Original Drawing by H.A.')
      include ./me.svg

    div(lang='en')
      h1(lang='ja') 城戸 祐亮
      h2 Yusuke Kido
      p Software Engineer, Designer, and NLP Researcher
        br
        | Co-founder & CTO at #[a(href='https://www.legalscape.co.jp/') Legalscape, Inc.]
      ol
        li
          img(src='~/src/card/mail.svg', alt='Email')
          span.secret-email-address(title='Q. どこに書いてあるでしょう？') @yusuk.eki.do
        li
          a(href='https://twitter.com/p_km')
            img(src='~/src/card/x.svg', alt='X')
            | p_km
        li
          a(href='https://facebook.com/yusuke.kid')
            img(src='~/src/card/facebook.svg', alt='Facebook')
            | yusuke.kid
