#container {
  /* overflow: hiddenさせるために必要 */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  max-width: 100%;
  height: 100lvh;
  overflow: hidden;
  color: #111;
  background: linear-gradient(180deg, #ac7a4980 60%, #ac7a4900 100%);
}

#card,
#card-shadow {
  --unit: min(1.5vw, 4vh);

  position: absolute;
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: calc(var(--unit) * 2);
  align-items: center;
  width: calc(var(--unit) * 40);
  aspect-ratio: 91 / 55;
  padding: calc(var(--unit) * 2);
  overflow: hidden;
  background-color: #fff3;
  border: 1px solid #ccc8;
  border-radius: var(--unit);
  transition: rotate 0.5s ease-out;

  > :last-child {
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 0;
    line-height: 1;

    > * {
      margin: 0;
      font-family: 'Barlow Condensed', 'Zen Kaku Gothic New', sans-serif;
      font-size: calc(var(--unit) * 1.4);
      font-weight: 100;
    }

    > h1 {
      font-family: 'Zen Kaku Gothic New', sans-serif;
      font-size: calc(var(--unit) * 5.32);
      font-weight: 400;
      color: #000;
      transform: scaleX(0.85);
      transform-origin: left center;
    }

    > h2 {
      margin-bottom: calc(var(--unit) * 0.7);
      font-size: calc(var(--unit) * 2);
      font-weight: 400;
    }

    > p {
      margin-bottom: calc(var(--unit) * 0.7);
      line-height: 1.25;
    }

    > ol {
      display: flex;
      justify-content: space-between;
      padding: 0;
      list-style: none;

      img {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: 0.25em;
        vertical-align: middle;
      }
    }
  }
}

#card {
  backdrop-filter: blur(16px);
  transform: perspective(10000px) rotateX(-30deg) rotateY(30deg);

  .secret-email-address {
    cursor: help;

    &::before {
      display: inline-block;
      width: 2em;
      font-size: 0.7em;
      font-weight: 900;
      text-align: center;
      content: '？';
      border: 1px solid #000;
    }

    &:hover::before {
      color: #eee;
      background: #000;
    }
  }
}

#card-shadow {
  pointer-events: none;
  user-select: none;
  background: none;
  filter: blur(2px);
  border: 4px solid #0003;
  transform: perspective(10000px) rotateX(-30deg) rotateY(30deg) translateZ(-50px);
}

svg {
  &:not(:hover) {
    .eye1 {
      display: unset !important;
    }

    .eye2 {
      display: none;
    }
  }

  &:hover {
    .eye1 {
      display: none;
    }
  }
}

@media (width <= 1200px) {
  #container > * {
    --unit: min(2vw, 4vh);
  }
}

@media (width <= 800px) {
  #container > * {
    --unit: min(3.5vw, 2.2vh);

    transform-origin: center center;
    rotate: -90deg;
  }
}
