ol.works
  li
    img(src='~/src/works/wandh.webp', alt='Watson & Holmesのイメージ画像', loading='lazy')
    div
      time(datetime='2023-09') 2023-09 (Beta Release)
      h2 Watson & Holmes
      p.roles 製品デザイン、命名、自然言語処理R&amp;D（Python, PyTorch, Azure OpenAI Service, Pinecone）、Web開発（TypeScript, Vue, Express.js, Terraform, Google Cloud）、キャラクターアニメーション制作（Illustrator）、デモ動画制作（After Effects, Premiere Pro）
      p LLMを利用したRAGベースの全く新しいリーガルリサーチ体験を実装しました。生成モデルという技術をどうこの領域で活かせるか、という問いに対して、文献というコンテンツの力を最大限引き出し、かつ、法務パーソンにとって新しい技術との健全なファーストコンタクトとなれるような解を提案し、それを短期間でリリースしました。

  li
    img(src='~/src/works/legalscape.svg', alt='Legalscape', loading='lazy')
    div
      time(datetime='2017-09') 2017-09–
      h2 Legalscape
      p.roles 取締役・最高技術責任者
      p コンピュータ科学と明らかに親和性が高いものの十分IT化が進んでいない日本の法務領域で、テクノロジーの力で新しい価値を切り拓いています。日弁連法務研究財団・法務省「民事判決のオープンデータ化」、デジタル庁「法制事務のデジタル化」にも参画し、まさに今アップデートしようとしているこの国の法と法務の在り方を支えています。すべての法情報を見渡す景色 #[span(lang='en') (-&zwj;scape)] を描き出す。そのミッションを込めて#[span(lang='en') Legalscape]（リーガルスケープ）と名付けました。

      ul
        li 経済産業省・IPA「未踏アドバンスト事業」採択 (2017)
        li 週刊東洋経済「すごいベンチャー100」選出 (2022)

      a.external(href='https://note.com/legalscape/n/n673bf813e198')
        img(src='~/src/works/legalscape-blog-1.jpg', alt='Legalscapeのブログのスクリーンショット', loading='lazy')
        span はじめまして、Legalscapeです
        small 2021-06-30 - note.com/legalscape/n/n673bf813e198
      a.external(href='https://note.com/legalscape/n/n4dfbed9f1b38')
        img(src='~/src/works/legalscape-blog-2.webp', alt='Legalscapeのブログのスクリーンショット', loading='lazy')
        span 「民事判決のオープンデータ化」とは何で、なぜ必要で、なぜ私たちが関わっているのか
        small 2021-07-19 - note.com/legalscape/n/n4dfbed9f1b38

  li
    img(src='~/src/works/liveart.svg', alt='LiveArt音楽教室', loading='lazy')
    div
      time(datetime='2022-04') 2022-04–
      h2 LiveArt音楽教室
      p.roles グラフィックデザイン（クリアファイル、バナー、レッスン紹介プリント、LINE公式アカウントリッチメニュー）、ロゴ入りQRコード生成アプリ開発（TypeScript, Svelte）
      p 音楽教室のマーケティングのためのデザイン制作や、生徒さんに配布されるプリント等の制作を行っています。何も素材がないところから相談を受け、事業の価値の整理から始め、表現したいメッセージを一緒に構築し、ときにこちらから提案しています。

      a.external(href='https://kissge.github.io/kissqr/')
        img(src='https://kissge.github.io/kissqr/sample.png', alt='ロゴ入りQRコードの例', loading='lazy')
        span ロゴ入りQRコード生成アプリ
        small kissge.github.io/kissqr

      .gallery
        div
          img(src='~/src/works/liveart-works-1.webp', alt='制作風景参考画像', loading='lazy')
        div
          img(src='~/src/works/liveart-works-2.webp', alt='制作風景参考画像', loading='lazy')
        div
          img(src='~/src/works/liveart-works-3.webp', alt='制作風景参考画像', loading='lazy')
        div
          img(src='~/src/works/liveart-works-4.webp', alt='制作風景参考画像', loading='lazy')
        div
          img(src='~/src/works/liveart-works-5.webp', alt='制作風景参考画像', loading='lazy')

  li
    img(src='~/src/works/Windows_10_Logo.svg', alt='Windows 10', loading='lazy')
    div
      time(datetime='2017-02') 2017-02–2017-09
      h2 Microsoft Windows
      p.roles(lang='en') Software Engineer (C++/CX, C#, XAML)
      p #[span(lang='en') Windows & Devices Group]に所属。#[span(lang='en') Global Input Team]にて、#[span(lang='en') Windows 10] タッチ デバイス用の汎用テキスト入力コンポーネントや、日本語、繁体字中国語、#[span(lang='en') Indic languages]（ヒンディー語、タミル語など）関係の開発に従事していました。

  li
    img(src='~/src/works/openwork_logo.svg', alt='OpenWork', loading='lazy')
    div
      time(datetime='2014-05') 2014-05–2015-12
      h2 Vorkers
        small （株式会社ヴォーカーズ（現 オープンワーク）アルバイト）
      p.roles 機械学習（C++, Ruby）、決済システム構築、Web開発（JavaScript, PHP）
      p 機械学習に基づく役職名等の自動分類技術の研究開発プロジェクトを立ち上げ、実証、実装、教師データ作成システムの構築などを一人で担当していました。ほかに一般的なWeb開発に従事しました（スパムフィルタや決済システムの構築など）。

  li
    img(src='~/src/works/pairs_logo.svg', alt='pairs', loading='lazy')
    div
      time(datetime='2013-06') 2013-06–2014-05
      h2 マッチングアプリ pairs
        small （株式会社エウレカ アルバイト）
      p.roles 検索アルゴリズム（R, C++）、ユーザー行動分析、Web開発（JavaScript, PHP）
      p 現在のBIチームの萌芽となった検索結果の表示順の改善によるマッチング率向上の研究開発プロジェクトの立ち上げに関与し、開発、実験などをすべて担当しました。

  li
    img(src='~/src/works/smooth_logo.svg', alt='スムーズ', loading='lazy')
    div
      time(datetime='2022-08') 2022-08
      h2 株式会社スムーズ
        small （業務委託）
      p エンジニアリング組織の課題や採用について、ちょっとした壁打ち相手として手伝っていました。
