section.email
  h1 E-mail
  p bot対策として、メールアドレスをページ内に隠してあります。
  p.question.
    To avoid spambots, I’ve hidden my e-mail address somewhere in this page.
    You can find it <b>in a W F</b>.
  details
    summary ヒント
    | F = FB
