header
  h1
    | 城戸祐亮
    small Kido Yusuke
  include ../image/me.svg
  ul.fab
    li
      a(href='https://www.facebook.com/yusuke.kid', title='Facebook').fa-facebook
    li
      a(href='https://www.linkedin.com/in/yusukekido', title='LinkedIn').fa-linkedin
    li
      a(href='https://www.wantedly.com/users/105682046', title='Wantedly', style='font-weight: 900') W
    li
      a(href='http://www.amazon.co.jp/registry/wishlist/3O1HPXPHBAXM0', title='Amazon.co.jp Wishlist', style='position: relative; top: 3px').fa-amazon
