section.interests
  h1 Interests and Hobbies
  ul
    li 言語、言語学、語学、自然言語処理、計算言語学
    li Web技術、プログラミング <small>(#konomamashinu)</small>
    li デザイン
    li 音楽、DTM、ギター・ボーカル、ドラム
    li DIY（机、ベッド、キーボードは自作）
    li 変なガジェット
    li 甘いもの
    li.grey ボルダリング
    li.grey 自転車で遠出すること（東京→福岡 8 日半走破）
