section.pubs
  h1 Publications

  section
    h2 International Conference Papers
    ol(lang='en')
      li.
        Saku Sugawara, <em>Yusuke Kido</em>, Hikaru Yokono, and Akiko Aizawa. 2017. Evaluation Metrics for Machine Reading Comprehension: Prerequisite Skills and Readability. In <i>Proceedings of the 55th Annual Meeting of the Association for Computational Linguistics (ACL 2017)</i>, August 2017, Vancouver, Canada. Association for Computational Linguistics.
      li.
        <em>Yusuke Kido</em>, Hikaru Yokono, Goran Topić, and Akiko Aizawa. 2015. Document Layout Optimization with Automated Paraphrasing. In <i>Proceedings of the 2015 ACM Symposium on Document Engineering (DocEng ’15)</i>, September 2015, Lausanne, Switzerland. Association for Computing Machinery, New York, NY, USA, 13-16. DOI 10.1145/2682571.2797095.

  section
    h2 International Workshop Papers
    ol(lang='en')
      li.
        <em>Yusuke Kido</em> and Akiko Aizawa. 2016. Discourse Relation Sense Classification with Two-Step Classifiers. In <i>Proceedings of the 19th Conference on Computational Natural Language Learning (CoNLL 2016): Shared Task</i>, August 2016, Berlin, Germany. Association for Computational Linguistics.

  section
    h2 Patents
    ol.break-all
      li.
        特願2019-008310（出願中）
      li.
        特許6469919 判決文データベースの作成方法、判決文データベースの検索方法、文作成方法、判決文データベースの作成装置、判決文データベースの検索装置、文作成装置、判決文データベースの作成プログラム、判決文データベースの検索プログラム、および文作成プログラム
