section.timeline
  h1 Experience and Education

  ol
    li.timeline-spine

    li.timeline-item-left.span-2
      div
        p.date.
          2017-09-14–現在
        h2.title(lang='ja').
          株式会社Legalscape 取締役・最高技術責任者
        p.title(lang='en').
          Co-founder & CTO, Legalscape, Inc.
        p.keywords.
          Document Search, NLP, PDF Processing, TypeScript, Python

    li.timeline-item-right

    li.timeline-item-right.span-2
      div
        p.date.
          2017-07
        h2.title(lang='ja').
          独立行政法人 情報処理推進機構 (IPA) 未踏アドバンスト事業 採択
        b.
          未踏イノベータ
        p.title(lang='en').
          MITOU Advanced Program (Explaratory IT Human Resources Project), Information-technology Promotion Agency
        b.
          Mitou Innovator

    li.timeline-item-left
      div
        p.date.
          2017-04–2017-09
        h2.title(lang='ja').
          マイクロソフトディベロップメント株式会社 Windows & Devices開発統括部 ソフトウェアエンジニア
        p.title(lang='en').
          Software Engineer, Global Text Input Team, Windows & Devices Group, Microsoft
        p.keywords.
          C++/CX, C#, XAML

        p.date.
          2017-02–2017-03
        h2.title(lang='ja').
          同 インターン
        p.title(lang='en').
          Software Engineer Intern

    li.timeline-item-left

    li.timeline-item-right.span-4
      div
        p.date.
          2015-04-01–2017-03-31
        h2.title(lang='ja').
          東京大学大学院 情報理工学系研究科 コンピュータ科学専攻 修士課程
        b.
          修士（情報理工学）
        p.title(lang='en').
          Department of Computer Science, Graduate School of Information Science and Technology, the University of Tokyo
        b.
          Master of Information Science and Technology
        h2.title(lang='ja').
          国立情報学研究所 相澤研究室
        p.title(lang='en').
          Aizawa Laboratory, National Institute of Informatics
        p.keywords.
          Document Engineering, Discourse Parsing, NLP, Python, C++, Chainer, LaTeX, Octave, OpenStack

        p.date.
          2015-04–2016-03
        h2.title(lang='ja').
          文部科学省 情報技術人材育成のための実践教育ネットワーク形成事業 分野・地域を越えた実践的情報教育協働ネットワーク enPiT-Security
        b.
          enPiT-Security認定 情報セキュリティ・スペシャリスト (SecCap10)
        p.title(lang='en').
          SecCap: Special Education Program for Information Security, Ministry of Education, Culture, Sports, Science and Technology
        b.
          Information Security Specialist “SecCap10”
        p.keywords.
          Computer Security

    li.timeline-item-left
      div
        p.date.
          2016-08
        h2.title(lang='ja').
          CoNLL-2016 Shared Task プログラム委員・査読者
        p.title(lang='en').
          Program Committee, the 19th Conference on Computational Natural Language Learning (CoNLL 2016) Shared Task

    li.timeline-item-left
      div
        p.date.
          2015-11–2017-01
        h2.title(lang='ja').
          株式会社アップシーエム エンジニア
        p.title(lang='en').
          Engineer, App-CM, Inc.
        p.keywords.
          PHP, Symfony, JavaScript

    li.timeline-item-left.span-2
      div
        p.date.
          2014-05–2015-12
        h2.title(lang='ja').
          株式会社ヴォーカーズ エンジニア（アルバイト）
        p.title(lang='en').
          Part-time engineer, Vorkers, Inc.
        p.keywords.
          Machine Learning, PHP, Symfony, JavaScript, Ruby

    li.timeline-item-right.span-3
      div
        p.date.
          2013-04-01–2015-03-31
        h2.title(lang='ja').
          東京大学 理学部 情報科学科
        b.
          学士（理学）
        p.title(lang='en').
          Department of Information Science, School of Science, the University of Tokyo
        b.
          Bachelor of Science
        p.keywords.
          C, C++, C#, Scheme, Java, VHDL, Emacs Lisp, LaTeX, OCaml, Prolog, Curry, Haskell, OpenMP, OpenGL, PowerPC Assembly

    li.timeline-item-left
      div
        p.date.
          2013-06–2014-05
        h2.title(lang='ja').
          株式会社エウレカ pairsチーム エンジニア（アルバイト）
        p.title(lang='en').
          Part-time engineer, pairs team, eureka, Inc.
        p.keywords.
          Matching Algorithms, PHP, CodeIgniter, JavaScript, R, C++

    li.timeline-item-right
      div
        p.date.
          2011-04-01–2013-03-31
        h2.title(lang='ja').
          東京大学 教養学部 理科一類
        p.title(lang='en').
          College of Arts and Sciences, the University of Tokyo
        p.keywords.
          Ruby, Java

    li.timeline-item-right
      div
        p.date.
          2008-04-01–2011-03-31
        h2.title(lang='ja').
          久留米大学附設高等学校
        p.title(lang='en').
          Kurume University Senior High School
        p.keywords.
          PHP, JavaScript, Java, EZ Apps, Flash Lite, N88-BASIC

        p.date.
          2009-06
        b.
          実用英語技能検定 準1級
