@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-weight: 300;
  src:
    url('../fonts/ZenKakuGothicNew-Light-subset.woff2') format('woff2'),
    url('../fonts/ZenKakuGothicNew-Light-subset.zopfli.woff') format('woff'),
    url('../fonts/ZenKakuGothicNew-Light-subset.ttf') format('truetype');
  font-display: block;
  unicode-range: U+20, U+3042, U+3044, U+304D, U+3053, U+3059, U+305F, U+3060, U+3067, U+306B, U+306E, U+3076, U+307E,
    U+308B, U+3092, U+3093, U+30A2, U+30A4, U+30A6, U+30A8-30AB, U+30AF, U+30BA, U+30C8, U+30D0, U+30D7, U+30EB, U+30EC,
    U+30EF, U+30F3, U+30F4, U+30FC, U+4E16, U+4F1A, U+52D9, U+59D4, U+5F0F, U+682A, U+696D, U+6C7A, U+73FE, U+793E,
    U+89E3, U+8A17, U+FF08, U+FF09;
}

@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-weight: 400;
  src:
    url('../fonts/ZenKakuGothicNew-Regular-subset.woff2') format('woff2'),
    url('../fonts/ZenKakuGothicNew-Regular-subset.zopfli.woff') format('woff'),
    url('../fonts/ZenKakuGothicNew-Regular-subset.ttf') format('truetype');
  font-display: block;
  unicode-range: U+20, U+3001, U+3002, U+300C, U+300D, U+3042, U+3044, U+3046, U+3048, U+304A-304D, U+304F, U+3051-3055,
    U+3057-305D, U+305F, U+3061, U+3063-306B, U+306E, U+306F, U+3072, U+3075, U+3079, U+307B, U+307E, U+3081, U+3082,
    U+3084, U+3087-308D, U+308F, U+3092, U+3093, U+30A1-30A4, U+30A6-30B1, U+30B3-30BB, U+30BD, U+30BF, U+30C1, U+30C3,
    U+30C4, U+30C6-30CB, U+30CD-30D7, U+30D9, U+30DC-30E3, U+30E5-30E7, U+30E9-30ED, U+30F3, U+30F4, U+30FB, U+30FC,
    U+4E00, U+4E0A, U+4E0E, U+4E2D, U+4E45, U+4E8B, U+4EAC, U+4EAE, U+4EBA, U+4ECA, U+4ECB, U+4ED8, U+4EFB, U+4F01,
    U+4F1A, U+4F1D, U+4F53, U+4F55, U+4F5C, U+4F7F, U+4FA1, U+4FC2, U+4FEE, U+5024, U+5065, U+5165, U+5168, U+516C,
    U+51E6, U+51FA, U+5206, U+5207, U+520A, U+521D, U+5224, U+5229, U+5236, U+5237, U+5275, U+529B, U+52D5, U+52D9,
    U+5316, U+5341, U+5370, U+53C2, U+53D6, U+53D7, U+540C, U+540D, U+5411, U+547D, U+548C, U+54C1, U+554F, U+5584,
    U+5668, U+56E3, U+56FD, U+5728, U+57CE, U+57DF, U+57FA, U+5831, U+5834, U+58C1, U+58EB, U+591A, U+5927, U+5974,
    U+597D, U+59CB, U+5B57, U+5B66, U+5B9F, U+5BA4, U+5BB6, U+5BBF, U+5BEE, U+5BFE, U+5C02, U+5C0F, U+5C4B, U+5C5E,
    U+5C71, U+5CA1, U+5DE5, U+5E02, U+5E03, U+5E2B, U+5E74, U+5E81, U+5E83, U+5F01, U+5F0F, U+5F15, U+5F3E, U+5F53,
    U+5F62, U+5F79, U+5F92, U+5F93, U+5FC5, U+6027, U+60C5, U+6210, U+6238, U+6240, U+624B, U+6253, U+6280, U+629E,
    U+62C5, U+62D3, U+63A1, U+63A8, U+63CF, U+63D0, U+652F, U+6539, U+653B, U+653F, U+6559, U+6574, U+6587, U+65B0,
    U+65B9, U+65E5, U+660E, U+6642, U+666F, U+6700, U+671F, U+672A, U+672C, U+6750, U+6771, U+6790, U+679C, U+6821,
    U+682A, U+6848, U+68B0, U+691C, U+696D, U+697D, U+69CB, U+6A5F, U+6C11, U+6C17, U+6C4E, U+6C7A, U+6CD5, U+6D0B,
    U+6D25, U+6D3B, U+6E08, U+6E21, U+6E2F, U+6FA4, U+7136, U+7248, U+7269, U+72EC, U+732E, U+7387, U+73FE, U+7406,
    U+751F, U+7523, U+7528, U+7530, U+753A, U+753B, U+7559, U+767A, U+767B, U+7684, U+76F8, U+7701, U+770C, U+77ED,
    U+7814, U+793A, U+793E, U+7950, U+798F, U+79C1, U+79D1, U+7A0B, U+7A76, U+7ACB, U+7B49, U+7BC9, U+7C3F, U+7C73,
    U+7CFB, U+7D1A, U+7D20, U+7D22, U+7D39, U+7D44, U+7D4C, U+7D50, U+7DD2, U+7DE0, U+7E41, U+7E54, U+7FA9, U+7FD2,
    U+8003, U+8005, U+8077, U+81EA, U+820E, U+822C, U+8272, U+82BD, U+840C, U+8449, U+884C, U+8853, U+8868, U+88C5,
    U+88FD, U+8981, U+898B, U+89AA, U+89E3, U+8A00, U+8A08, U+8A2D, U+8A3C, U+8A55, U+8A9E, U+8AB2, U+8AC7, U+8CA1,
    U+8CAC, U+8D70, U+8E0F, U+8ECA, U+8EE2, U+8FBC, U+9023, U+9031, U+9032, U+904A, U+9078, U+90E8, U+914D, U+91CE,
    U+958B, U+9593, U+95A2, U+9644, U+9650, U+9662, U+9694, U+96A3, U+96E2, U+97F3, U+9806, U+9818, U+984C, U+985E,
    U+990A, U+9999, U+9A13, U+9AD8, U+FF08, U+FF09;
}

@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-weight: 900;
  src:
    url('../fonts/ZenKakuGothicNew-Black-subset.woff2') format('woff2'),
    url('../fonts/ZenKakuGothicNew-Black-subset.zopfli.woff') format('woff'),
    url('../fonts/ZenKakuGothicNew-Black-subset.ttf') format('truetype');
  font-display: block;
  unicode-range: U+3044, U+304B, U+304C, U+3054, U+3057, U+3068, U+306A, U+3082, U+308A-308C, U+308F, U+30B3, U+30BF,
    U+30D4, U+30E5, U+30F3, U+30FC, U+56F0, U+FF1F;
}

@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 100;
  src:
    url('../fonts/BarlowCondensed-Thin-subset.woff2') format('woff2'),
    url('../fonts/BarlowCondensed-Thin-subset.zopfli.woff') format('woff'),
    url('../fonts/BarlowCondensed-Thin-subset.ttf') format('truetype');
  font-display: block;
  unicode-range: U+20, U+26, U+2C-2E, U+40, U+43-45, U+49, U+4C, U+4E-50, U+52-54, U+5F, U+61, U+63-69, U+6B-70, U+72-75,
    U+77, U+79;
}

@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 400;
  src:
    url('../fonts/BarlowCondensed-Regular-subset.woff2') format('woff2'),
    url('../fonts/BarlowCondensed-Regular-subset.zopfli.woff') format('woff'),
    url('../fonts/BarlowCondensed-Regular-subset.ttf') format('truetype');
  font-display: block;
  unicode-range: U+20, U+4B, U+59, U+64, U+65, U+69, U+6B, U+6F, U+73, U+75;
}
