doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
    meta(name='description', content='ソフトウェアエンジニアリングとデザインと自然言語処理のひとです。ものをつくったり、考える（広義の）デザインをしたりするのが好きです。')
    meta(property='og:site_name', content='yusuk.eki.do')
    script(type='application/ld+json')
      include ./website.json
    title 城戸 祐亮 / Yusuke Kido / きど ゆうすけ
    link(rel='icon', href='./card/me.svg')
    script(async, src='https://www.googletagmanager.com/gtag/js?id=G-WKM0LRK8M3')
    style
      | @import './base.css';
      | @import './card/card.css';

  body
    include ./card/card.pug

    link(rel='stylesheet', href='index.css')

    include ./foreword/foreword.pug
    include ./works/works.pug
    include ./lists/pubs.pug
    include ./lists/career.pug
    include ./lists/facts.pug

    script(src='./index.ts', type='module')
