section.lists
  h1 Fun Facts🤔

  ul.facts
    li 福岡県・福間町#[small （現 福津市）]生まれ
    li 東京から福岡まで10日かけて自転車で走ったことがあります（野宿）
    li キーボード、デスク、家計簿システム、ブログシステムを自作し、自分で使っています
    li 言語と音楽が好きで、楽器（ドラム、ギター、ベース）を弾きます
    li アメリカ、インド、カンボジア、スイス、ドイツ、ニュージーランド、香港、マカオに行ったことがあります
    li 初めてのプログラミング言語はN88-BASIC
    li 小学校5年生のとき（2003年）、PHPでSNSを自作して同級生と遊んでいました
      small （当時はSNSという言葉はなかった。Facebook登場は2004年）
    li 田舎の高校の寮でITから隔離されていたため、ガラケーでプログラミングできるアプリ（OSSのフォーク）を開発して遊んでいました
      small （自分はau版を、隣の部屋の奴はdocomo版を作っていた）
