section.lists
  h1 Publications

  ol.pubs(reversed)
    li 久本空海，#[em 城戸祐亮]，津金澤佳亨，八木田樹．民事判決のオープンデータ化へ向けた機械処理による判例仮名化の検証．言語処理学会第28回年次大会 (NLP2022)，2022年3月．
    li 文作成装置、文作成方法および文作成プログラム．特開2021-064143．2021/4/22．
    li 評釈データベース作成装置、評釈データベース作成方法、評釈データベース作成プログラム．特許6796337．2019/11/14．
    li 判決文データベースの作成方法、判決文データベースの検索方法、文作成方法、判決文データベースの作成装置、判決文データベースの検索装置、文作成装置、判決文データベースの作成プログラム、判決文データベースの検索プログラム、および文作成プログラム．特許6469919．2019/2/13．
    li(lang='en') Saku Sugawara, #[em Yusuke Kido], Hikaru Yokono, and Akiko Aizawa. 2017. Evaluation Metrics for Machine Reading Comprehension: Prerequisite Skills and Readability. In #[i Proceedings of the 55th Annual Meeting of the Association for Computational Linguistics (ACL 2017)], August 2017, Vancouver, Canada. Association for Computational Linguistics.
    li(lang='en') #[em Yusuke Kido] and Akiko Aizawa. 2016. Discourse Relation Sense Classification with Two-Step Classifiers. In #[i Proceedings of the 19th Conference on Computational Natural Language Learning (CoNLL 2016): Shared Task], August 2016, Berlin, Germany. Association for Computational Linguistics.
    li(lang='en') #[em Yusuke Kido], Hikaru Yokono, Goran Topić, and Akiko Aizawa. 2015. Document Layout Optimization with Automated Paraphrasing. In #[i Proceedings of the 2015 ACM Symposium on Document Engineering (DocEng ’15)], September 2015, Lausanne, Switzerland. Association for Computing Machinery, New York, NY, USA, 13-16. DOI 10.1145/2682571.2797095.
